workflow-attuale.json
{"updatedAt":"2026-05-03T12:29:22.527Z","createdAt":"2026-05-03T12:05:07.879Z","id":"An0loxYJXa1anAMT","name":"WebLocal – Bot Telegram","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"9106157e-f191-4fe5-a9e6-368153127182","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-720,208],"webhookId":"weblocal-telegram","credentials":{"telegramApi":{"id":"NtAMoHzL8NKLAASI","name":"Telegram Bot WebLocal"}}},{"parameters":{"jsCode":"const msg = $input.first().json.message;\nconst testo = (msg.text || '').trim();\nconst chatId = msg.chat.id;\nconst nome = msg.from.first_name || 'utente';\n\n// Parsing comandi\n// Formato atteso:\n// /avviso Domani siamo chiusi\n// /promo Menù pranzo 12€ - Primo+secondo+acqua\n// /orari Lun-Ven 08:00-20:00 | Sab 09:00-14:00\n// /telefono 02 1234567\n// /info parcheggio Disponibile in via Roma\n// /menu aggiungi Primi | Spaghetti al pomodoro | | 10\n// /menu rimuovi Primi | Spaghetti al pomodoro\n// /stato  (mostra riepilogo dati)\n\nconst righe = testo.split('\\n');\nconst prima = righe[0];\nconst parti = prima.split(' ');\nconst comando = parti[0].toLowerCase();\nconst resto = parti.slice(1).join(' ');\n\nreturn [{\n  json: {\n    chatId,\n    nome,\n    comando,\n    resto,\n    testoCompleto: testo\n  }\n}];"},"id":"cfd0d35c-c44b-409d-939e-b332655a11d4","name":"Parser Comandi","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,208]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.comando }}","rightValue":"/avviso","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"avviso"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.comando }}","rightValue":"/promo","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"promo"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.comando }}","rightValue":"/orari","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"orari"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.comando }}","rightValue":"/telefono","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"telefono"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.comando }}","rightValue":"/stato","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"stato"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.comando }}","rightValue":"/aiuto","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"aiuto"}]},"options":{"fallbackOutput":"extra"}},"id":"1f4b1904-c5b6-42d9-afe9-16cf8166c824","name":"Router Comandi","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-240,208]},{"parameters":{"jsCode":"const chatId = $json.chatId;\nconst res = await fetch('http://host.docker.internal:3001/cliente/' + chatId, { method: 'PATCH', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({ campo: 'avviso', valore: $json.resto }) });\nconst r = await res.json();\nif (!res.ok) throw new Error(r.errore || 'Errore');\nreturn [{ json: { ok: true, campo: 'avviso', chatId } }];"},"id":"d6a62f8a-89c5-44fb-8d59-61fc3fda2f8e","name":"Aggiorna Avviso","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"const chatId = $json.chatId;\nconst res = await fetch('http://host.docker.internal:3001/cliente/' + chatId, { method: 'PATCH', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({ campo: 'promo', valore: $json.resto }) });\nconst r = await res.json();\nif (!res.ok) throw new Error(r.errore || 'Errore');\nreturn [{ json: { ok: true, campo: 'promozione', chatId } }];"},"id":"0d0e9dec-9763-4863-84e3-30e7e7984f96","name":"Aggiorna Promo","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,128]},{"parameters":{"jsCode":"const chatId = $json.chatId;\nconst res = await fetch('http://host.docker.internal:3001/cliente/' + chatId, { method: 'PATCH', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({ campo: 'orari', valore: $json.resto }) });\nconst r = await res.json();\nif (!res.ok) throw new Error(r.errore || 'Errore');\nreturn [{ json: { ok: true, campo: 'orari', chatId } }];"},"id":"ba0db198-2bb9-4f2d-81bf-5b7215a64b69","name":"Aggiorna Orari","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,240]},{"parameters":{"jsCode":"const chatId = $json.chatId;\nconst res = await fetch('http://host.docker.internal:3001/cliente/' + chatId, { method: 'PATCH', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({ campo: 'telefono', valore: $json.resto }) });\nconst r = await res.json();\nif (!res.ok) throw new Error(r.errore || 'Errore');\nreturn [{ json: { ok: true, campo: 'telefono', chatId } }];"},"id":"2c5120e7-3fd7-4736-bc9f-0bd8a2bfb778","name":"Aggiorna Telefono","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,368]},{"parameters":{"jsCode":"const chatId = $json.chatId;\nconst res = await fetch('http://host.docker.internal:3001/cliente/' + chatId);\nif (!res.ok) return [{ json: { chatId, testo: 'Sito non trovato.' } }];\nconst d = await res.json();\nconst orariStr = d.orari.map(o => o.giorno + ': ' + o.ore).join('\\n');\nconst testo = 'Stato: ' + d.nome + '\\n' + d.indirizzo + '\\n' + d.telefono + '\\nOrari:\\n' + orariStr + '\\nAvviso: ' + (d.avviso || 'nessuno') + '\\nPromo: ' + (d.promozione?.attiva ? d.promozione.testo : 'nessuna');\nreturn [{ json: { chatId, testo } }];"},"id":"dbc9fd3f-fb94-42f2-8381-13f7100a301b","name":"Mostra Stato","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,480]},{"parameters":{"jsCode":"const testo = `🤖 *Comandi disponibili:*\\n\\n` +\n  `/avviso [testo] — Aggiunge un avviso in cima al sito\\n` +\n  `_Es: /avviso Domani siamo chiusi per ferie_\\n\\n` +\n  `/promo [nome] - [dettaglio] — Attiva una promozione\\n` +\n  `_Es: /promo Menù pranzo 12€ - Primo+secondo+acqua_\\n\\n` +\n  `/orari [gg ore | gg ore] — Aggiorna gli orari\\n` +\n  `_Es: /orari Lun-Ven 08:00-20:00 | Sab 09:00-14:00_\\n\\n` +\n  `/telefono [numero] — Cambia il numero di telefono\\n` +\n  `_Es: /telefono 02 1234567_\\n\\n` +\n  `/stato — Mostra tutti i dati del sito`;\n\nreturn [{ json: { chatId: $json.chatId, testo } }];"},"id":"dd8e3921-5de4-4655-bd77-fdc0fd4601bd","name":"Messaggio Aiuto","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,608]},{"parameters":{"jsCode":"// Unifica la risposta da tutti i rami\nconst input = $input.first().json;\nlet testo;\n\nif (input.testo) {\n  testo = input.testo; // già formattato (stato/aiuto)\n} else if (input.ok) {\n  const etichette = {\n    avviso: '📢 Avviso',\n    promozione: '🎉 Promozione',\n    orari: '🕐 Orari',\n    telefono: '📞 Telefono'\n  };\n  testo = `✅ *${etichette[input.campo] || input.campo} aggiornato!*\\n\\nIl sito è già live con le modifiche.`;\n} else {\n  testo = '❌ Comando non riconosciuto. Scrivi /aiuto per vedere i comandi disponibili.';\n}\n\nreturn [{ json: { chatId: input.chatId, testo } }];"},"id":"45150822-8664-4d0c-ab8a-7ddf9a40f655","name":"Prepara Risposta","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,304]},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.testo }}","additionalFields":{"parse_mode":"Markdown"}},"id":"987f7e25-4f96-4ff8-a31f-122e60e412dc","name":"Invia Risposta Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,304],"webhookId":"3dd739ff-edf3-45a0-9547-74976c1a9895","credentials":{"telegramApi":{"id":"NtAMoHzL8NKLAASI","name":"Telegram Bot WebLocal"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Parser Comandi","type":"main","index":0}]]},"Parser Comandi":{"main":[[{"node":"Router Comandi","type":"main","index":0}]]},"Router Comandi":{"main":[[{"node":"Aggiorna Avviso","type":"main","index":0}],[{"node":"Aggiorna Promo","type":"main","index":0}],[{"node":"Aggiorna Orari","type":"main","index":0}],[{"node":"Aggiorna Telefono","type":"main","index":0}],[{"node":"Mostra Stato","type":"main","index":0}],[{"node":"Messaggio Aiuto","type":"main","index":0}],[{"node":"Prepara Risposta","type":"main","index":0}]]},"Aggiorna Avviso":{"main":[[{"node":"Prepara Risposta","type":"main","index":0}]]},"Aggiorna Promo":{"main":[[{"node":"Prepara Risposta","type":"main","index":0}]]},"Aggiorna Orari":{"main":[[{"node":"Prepara Risposta","type":"main","index":0}]]},"Aggiorna Telefono":{"main":[[{"node":"Prepara Risposta","type":"main","index":0}]]},"Mostra Stato":{"main":[[{"node":"Prepara Risposta","type":"main","index":0}]]},"Messaggio Aiuto":{"main":[[{"node":"Prepara Risposta","type":"main","index":0}]]},"Prepara Risposta":{"main":[[{"node":"Invia Risposta Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"cd3a2fc8-4c0f-43e0-a4dc-03e3d3d0b4dc","activeVersionId":"cd3a2fc8-4c0f-43e0-a4dc-03e3d3d0b4dc","versionCounter":26,"triggerCount":1,"shared":[{"updatedAt":"2026-05-03T12:05:07.881Z","createdAt":"2026-05-03T12:05:07.881Z","role":"workflow:owner","workflowId":"An0loxYJXa1anAMT","projectId":"Sna8QA70jyCw5xjH","project":{"updatedAt":"2026-05-03T12:02:14.944Z","createdAt":"2026-05-03T11:57:32.335Z","id":"Sna8QA70jyCw5xjH","name":"Andrea Bellagamba <a_bella1@hotmail.com>","type":"personal","icon":null,"description":null,"creatorId":"80e604b0-32db-4221-ba61-19a6f7ff3cac"}}],"tags":[{"updatedAt":"2026-05-03T12:05:06.303Z","createdAt":"2026-05-03T12:05:06.303Z","id":"dn9JAuywIys7lbIL","name":"WebLocal"}],"activeVersion":{"updatedAt":"2026-05-03T12:29:22.527Z","createdAt":"2026-05-03T12:29:22.527Z","versionId":"cd3a2fc8-4c0f-43e0-a4dc-03e3d3d0b4dc","workflowId":"An0loxYJXa1anAMT","nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"9106157e-f191-4fe5-a9e6-368153127182","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-720,208],"webhookId":"weblocal-telegram","credentials":{"telegramApi":{"id":"NtAMoHzL8NKLAASI","name":"Telegram Bot WebLocal"}}},{"parameters":{"jsCode":"const msg = $input.first().json.message;\nconst testo = (msg.text || '').trim();\nconst chatId = msg.chat.id;\nconst nome = msg.from.first_name || 'utente';\n\n// Parsing comandi\n// Formato atteso:\n// /avviso Domani siamo chiusi\n// /promo Menù pranzo 12€ - Primo+secondo+acqua\n// /orari Lun-Ven 08:00-20:00 | Sab 09:00-14:00\n// /telefono 02 1234567\n// /info parcheggio Disponibile in via Roma\n// /menu aggiungi Primi | Spaghetti al pomodoro | | 10\n// /menu rimuovi Primi | Spaghetti al pomodoro\n// /stato  (mostra riepilogo dati)\n\nconst righe = testo.split('\\n');\nconst prima = righe[0];\nconst parti = prima.split(' ');\nconst comando = parti[0].toLowerCase();\nconst resto = parti.slice(1).join(' ');\n\nreturn [{\n  json: {\n    chatId,\n    nome,\n    comando,\n    resto,\n    testoCompleto: testo\n  }\n}];"},"id":"cfd0d35c-c44b-409d-939e-b332655a11d4","name":"Parser Comandi","type":"n8n-nodes-base.code","typeVersion":2,"position":[-480,208]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.comando }}","rightValue":"/avviso","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"avviso"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.comando }}","rightValue":"/promo","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"promo"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.comando }}","rightValue":"/orari","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"orari"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.comando }}","rightValue":"/telefono","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"telefono"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.comando }}","rightValue":"/stato","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"stato"},{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.comando }}","rightValue":"/aiuto","operator":{"type":"string","operation":"equals"}}]},"renameOutput":true,"outputKey":"aiuto"}]},"options":{"fallbackOutput":"extra"}},"id":"1f4b1904-c5b6-42d9-afe9-16cf8166c824","name":"Router Comandi","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-240,208]},{"parameters":{"jsCode":"const chatId = $json.chatId;\nconst res = await fetch('http://host.docker.internal:3001/cliente/' + chatId, { method: 'PATCH', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({ campo: 'avviso', valore: $json.resto }) });\nconst r = await res.json();\nif (!res.ok) throw new Error(r.errore || 'Errore');\nreturn [{ json: { ok: true, campo: 'avviso', chatId } }];"},"id":"d6a62f8a-89c5-44fb-8d59-61fc3fda2f8e","name":"Aggiorna Avviso","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"jsCode":"const chatId = $json.chatId;\nconst res = await fetch('http://host.docker.internal:3001/cliente/' + chatId, { method: 'PATCH', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({ campo: 'promo', valore: $json.resto }) });\nconst r = await res.json();\nif (!res.ok) throw new Error(r.errore || 'Errore');\nreturn [{ json: { ok: true, campo: 'promozione', chatId } }];"},"id":"0d0e9dec-9763-4863-84e3-30e7e7984f96","name":"Aggiorna Promo","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,128]},{"parameters":{"jsCode":"const chatId = $json.chatId;\nconst res = await fetch('http://host.docker.internal:3001/cliente/' + chatId, { method: 'PATCH', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({ campo: 'orari', valore: $json.resto }) });\nconst r = await res.json();\nif (!res.ok) throw new Error(r.errore || 'Errore');\nreturn [{ json: { ok: true, campo: 'orari', chatId } }];"},"id":"ba0db198-2bb9-4f2d-81bf-5b7215a64b69","name":"Aggiorna Orari","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,240]},{"parameters":{"jsCode":"const chatId = $json.chatId;\nconst res = await fetch('http://host.docker.internal:3001/cliente/' + chatId, { method: 'PATCH', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({ campo: 'telefono', valore: $json.resto }) });\nconst r = await res.json();\nif (!res.ok) throw new Error(r.errore || 'Errore');\nreturn [{ json: { ok: true, campo: 'telefono', chatId } }];"},"id":"2c5120e7-3fd7-4736-bc9f-0bd8a2bfb778","name":"Aggiorna Telefono","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,368]},{"parameters":{"jsCode":"const chatId = $json.chatId;\nconst res = await fetch('http://host.docker.internal:3001/cliente/' + chatId);\nif (!res.ok) return [{ json: { chatId, testo: 'Sito non trovato.' } }];\nconst d = await res.json();\nconst orariStr = d.orari.map(o => o.giorno + ': ' + o.ore).join('\\n');\nconst testo = 'Stato: ' + d.nome + '\\n' + d.indirizzo + '\\n' + d.telefono + '\\nOrari:\\n' + orariStr + '\\nAvviso: ' + (d.avviso || 'nessuno') + '\\nPromo: ' + (d.promozione?.attiva ? d.promozione.testo : 'nessuna');\nreturn [{ json: { chatId, testo } }];"},"id":"dbc9fd3f-fb94-42f2-8381-13f7100a301b","name":"Mostra Stato","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,480]},{"parameters":{"jsCode":"const testo = `🤖 *Comandi disponibili:*\\n\\n` +\n  `/avviso [testo] — Aggiunge un avviso in cima al sito\\n` +\n  `_Es: /avviso Domani siamo chiusi per ferie_\\n\\n` +\n  `/promo [nome] - [dettaglio] — Attiva una promozione\\n` +\n  `_Es: /promo Menù pranzo 12€ - Primo+secondo+acqua_\\n\\n` +\n  `/orari [gg ore | gg ore] — Aggiorna gli orari\\n` +\n  `_Es: /orari Lun-Ven 08:00-20:00 | Sab 09:00-14:00_\\n\\n` +\n  `/telefono [numero] — Cambia il numero di telefono\\n` +\n  `_Es: /telefono 02 1234567_\\n\\n` +\n  `/stato — Mostra tutti i dati del sito`;\n\nreturn [{ json: { chatId: $json.chatId, testo } }];"},"id":"dd8e3921-5de4-4655-bd77-fdc0fd4601bd","name":"Messaggio Aiuto","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,608]},{"parameters":{"jsCode":"// Unifica la risposta da tutti i rami\nconst input = $input.first().json;\nlet testo;\n\nif (input.testo) {\n  testo = input.testo; // già formattato (stato/aiuto)\n} else if (input.ok) {\n  const etichette = {\n    avviso: '📢 Avviso',\n    promozione: '🎉 Promozione',\n    orari: '🕐 Orari',\n    telefono: '📞 Telefono'\n  };\n  testo = `✅ *${etichette[input.campo] || input.campo} aggiornato!*\\n\\nIl sito è già live con le modifiche.`;\n} else {\n  testo = '❌ Comando non riconosciuto. Scrivi /aiuto per vedere i comandi disponibili.';\n}\n\nreturn [{ json: { chatId: input.chatId, testo } }];"},"id":"45150822-8664-4d0c-ab8a-7ddf9a40f655","name":"Prepara Risposta","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,304]},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.testo }}","additionalFields":{"parse_mode":"Markdown"}},"id":"987f7e25-4f96-4ff8-a31f-122e60e412dc","name":"Invia Risposta Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[480,304],"webhookId":"3dd739ff-edf3-45a0-9547-74976c1a9895","credentials":{"telegramApi":{"id":"NtAMoHzL8NKLAASI","name":"Telegram Bot WebLocal"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Parser Comandi","type":"main","index":0}]]},"Parser Comandi":{"main":[[{"node":"Router Comandi","type":"main","index":0}]]},"Router Comandi":{"main":[[{"node":"Aggiorna Avviso","type":"main","index":0}],[{"node":"Aggiorna Promo","type":"main","index":0}],[{"node":"Aggiorna Orari","type":"main","index":0}],[{"node":"Aggiorna Telefono","type":"main","index":0}],[{"node":"Mostra Stato","type":"main","index":0}],[{"node":"Messaggio Aiuto","type":"main","index":0}],[{"node":"Prepara Risposta","type":"main","index":0}]]},"Aggiorna Avviso":{"main":[[{"node":"Prepara Risposta","type":"main","index":0}]]},"Aggiorna Promo":{"main":[[{"node":"Prepara Risposta","type":"main","index":0}]]},"Aggiorna Orari":{"main":[[{"node":"Prepara Risposta","type":"main","index":0}]]},"Aggiorna Telefono":{"main":[[{"node":"Prepara Risposta","type":"main","index":0}]]},"Mostra Stato":{"main":[[{"node":"Prepara Risposta","type":"main","index":0}]]},"Messaggio Aiuto":{"main":[[{"node":"Prepara Risposta","type":"main","index":0}]]},"Prepara Risposta":{"main":[[{"node":"Invia Risposta Telegram","type":"main","index":0}]]}},"authors":"Andrea Bellagamba","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-03T12:29:23.144Z","id":9,"workflowId":"An0loxYJXa1anAMT","versionId":"cd3a2fc8-4c0f-43e0-a4dc-03e3d3d0b4dc","event":"activated","userId":"80e604b0-32db-4221-ba61-19a6f7ff3cac"},{"createdAt":"2026-05-03T12:29:40.302Z","id":11,"workflowId":"An0loxYJXa1anAMT","versionId":"cd3a2fc8-4c0f-43e0-a4dc-03e3d3d0b4dc","event":"activated","userId":"80e604b0-32db-4221-ba61-19a6f7ff3cac"},{"createdAt":"2026-05-03T13:13:35.445Z","id":13,"workflowId":"An0loxYJXa1anAMT","versionId":"cd3a2fc8-4c0f-43e0-a4dc-03e3d3d0b4dc","event":"activated","userId":"80e604b0-32db-4221-ba61-19a6f7ff3cac"},{"createdAt":"2026-05-03T12:29:22.775Z","id":8,"workflowId":"An0loxYJXa1anAMT","versionId":"cd3a2fc8-4c0f-43e0-a4dc-03e3d3d0b4dc","event":"deactivated","userId":"80e604b0-32db-4221-ba61-19a6f7ff3cac"},{"createdAt":"2026-05-03T12:29:31.970Z","id":10,"workflowId":"An0loxYJXa1anAMT","versionId":"cd3a2fc8-4c0f-43e0-a4dc-03e3d3d0b4dc","event":"deactivated","userId":"80e604b0-32db-4221-ba61-19a6f7ff3cac"},{"createdAt":"2026-05-03T13:13:35.099Z","id":12,"workflowId":"An0loxYJXa1anAMT","versionId":"cd3a2fc8-4c0f-43e0-a4dc-03e3d3d0b4dc","event":"deactivated","userId":"80e604b0-32db-4221-ba61-19a6f7ff3cac"}]}}